<form role="form" id="myForm">
  <div class="form-group">
    <label for="event">Event:</label>
    <input type="text" class="form-control" id="event" name="event" minlength="4" maxlength="32" required matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let item of filteredOptions | async; let index = index" [value]="item.event">
        {{ item.event | titlecase}}
      </mat-option>
    </mat-autocomplete>
  </div>
</form>